@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body{
    background-color: #201f1f;
    position: relative;
    min-height: 100vh
}

.containerHeader{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(32,31,31,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(32,31,31,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(32,31,31,1) 100%);
}

footer{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: white;
    text-shadow: 1px 5px 25px #2991fb;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header img{
    width: 18vh;
    height: auto;
}

.header .groupBtn{
    display: flex;
    gap: 5vh;
}

.header .groupBtn a{
    text-decoration: none;
    color: white;
    font-family: 'Kanit', sans-serif;
    border-bottom: 1.5px solid transparent;
    transition: .3s;
}

.header .groupBtn a:hover{
    border-bottom: 1.5px solid white;
    transition: .3s;
}